---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
  {% if post.slidesurl %}
  <p class="archive__item-excerpt" style="margin-top: -0.5em;">
    <a href="{{ post.slidesurl | prepend: site.baseurl }}" target="_blank" rel="noopener noreferrer"><strong>View slides &rarr;</strong></a>
  </p>
  {% endif %}
{% endfor %}
